/* body */
body {
	background: rgb(169, 169, 169) url("../img/pebbles.jpg") repeat center;
	margin: auto;
	padding: auto;
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(220, 154, 33);
	color: rgb(12, 12, 12);
	text-shadow: 2px 2pxr rgb(169, 169, 169);
	padding: 2px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
}

/* paragraphs */
p {
	font-family: 'Roboto Slab', serif;
	line-height: -1.5;
	letter-spacing: 2px;
	color: rgb(12, 12, 12);
}

/* Content wrapper */
.container {
	width: 1000px;
	background-color: rgb(169, 169, 169, 0.725);
	margin: auto;
	padding: 15px;
	height: 1550px;
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
}

/* navigation bar */
nav {
	background-color: rgb(220, 154, 33, 0.5);
	margin-bottom: 10px;
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
	padding: 15px;
	border-radius: 10px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

ul {
	list-style-type: none;
	float: right;
}

ul li {
	background-color: rgb(169, 169, 169, 0.725);
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 20px;
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: rgb(12, 12, 12);
}

ul li:hover {
	background-color: rgba(255, 255, 255);
}

ul li a:hover {
	color: rgb(220, 89, 33);
	font-family: Arial, Helvetica, sans-serif;
}

/* Hero */
.hero {
	border: 1px solid rgb(12, 12, 12);
	height: 500px;
	background-position: bottom right;
	margin-bottom: 10px;
}

.text-back-hero {
	background-color: rgb(97, 71, 157, 0.5);
	padding: 12px 50px;
	text-align: center;
	display: inline-block;
	color: rgb(255, 255, 255);
	position: relative;
	top: -470px;
	left: 50px;
	margin-left: 80px;
}

/* Main Content */
.column {
	float: left;
	width: 478px;
	height: 400px;
	padding: 10px;
	border: 1px solid rgb(12, 12, 12);
	margin-bottom: 10px;
	color: rgb(255, 255, 255);
}

.column img {
	width: 45%;
	float: left;
}

.col-one {
	background-color: rgb(220, 154, 33, 0.5);
}

.col-two {
	background-color: rgb(220, 154, 33, 0.5);
}

/* Footer */
footer {
	clear: both;
	padding: 5px;
	text-align: center;
	background-color: rgb(220, 154, 33);
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
	border-radius: 10px;
	color: rgb(255, 255, 255);
	height: 350px;
}

/* icons */
.fa-hands-praying {
	color: rgb(97, 71, 157);
}

.fa-facebook {
	color: rgb(97, 71, 157);
}

.fa-instagram {
	color: rgb(97, 71, 157);
}

.fa-snapchat {
	color: rgb(97, 71, 157);
}

.fa-twitter {
	color: rgb(97, 71, 157);
}

.privandterm {
	color: rgb(97, 71, 157);
}

.myname {
	font-size: larger;
}

.logo {
	padding-top: 5px;
	box-shadow: 4px 8px 10px rgb(97, 71, 157);
	height: 40px;
	width: 60px;
	float: left;
}

/* forms */
input[type=text] input[type=email],
textarea {
	width: 80%;
	padding: -25px;
	box-sizing: border-box;
	border: 1px solid rgb(12, 12, 12);
}